.box {
    position: absolute;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    width: 65vw;
    padding: 20px;
}

.box h1 {
    color: #4f46e5;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border-bottom: 2px solid #4f46e5;
    padding-bottom: 10px;
}